.taco-picture {
    width: 200px;
    display: grid;


}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #B4CF66;
    font-size: 150%;
}

nav {
    padding: 16px;
    background-color: #FF5A33;
}

h1 {
    color: #44803F;
}

h3 {
    color: #B4CF66;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-page {
    color: white;
}

.taco-text {
    color: #B4CF66
}

.special-table>div:nth-child(odd) {
    background-color: #5f5f5f;
}
